





#menuprincipal {
    display: flex;
    align-content: center;
    justify-items: center;
    flex-wrap: nowrap;
}


.botonprincipal {
justify-items: auto;
border: black 1px solid;
margin-right: 22%;
flex-basis: 40px;
}


.navbar {
    overflow: hidden;
    background-color:rgb(252, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;

}




